# Python
__pycache__/
*.pyc
*.egg-info

# Setuptools
crapette.egg-info/

# Pyinstaller
dist/
build/

# Profiling
*.lprof
profile_output*.txt

# Test
.pytest_cache/
.coverage

# VSCode
.vscode/

# Android
.buildozer/
bin/

# Ruff
.ruff_cache
